<h1> Create a New Carrier Here! </h1>

<%= form_for(@carrier) do |t|%>
    <%= t.label :name%>
    <%= t.text_field :name%>
    
    <br><br>
    
    <%= t.label :phone%>
    <%= t.text_field :phone%>
    
    <br><br>

    <%= t.submit "Create Carrier"%>
<% end %>
