<h1><%= @service.name %></h1>

<h2>Carrier:</h2> 

<p>Name: <%= @service.carrier.name %></p></p>
<p>Phone Number: <%= @service.carrier.phone %></p></p>

<h2>Shipments Sent with <%= @service.name %></h2>
    <% @shipments.each do |shipment| %>
        <% if shipment.service_id == @service.id %>
            <%= shipment.customer %> - <%= shipment.status %><br><br>
        <% end %>
    <% end %>

<br><br>

<b><%= link_to "Create A #{@service.name} Shipment", new_service_shipment_path(@service.id) %></b>

<br><br>

<%= link_to "Modify Service", edit_service_path(@service) %><br>

<br><br>

<%= link_to "Home", user_path(current_user)%>