<div class="user_container ">

<h1><%= @service.name %></h1>

<br><br>

<h2>Carrier Information:</h2> 

<p>Name: <%= @service.carrier.name %></p></p>
<p>Phone Number: <%= @service.carrier.phone %></p></p>

<br><br>

<h2>Shipments Sent with <%= @service.name %>: </h2>
   <ul>
    <% @shipments.each do |shipment| %>
        <% if shipment.service_id == @service.id %>
            <li><%= link_to "#{shipment.customer} - #{shipment.status}", shipment_path(shipment) %></li><br><br>
        <% end %>
    <% end %>
    </ul>
<br><br>

<b><i><%= link_to "Create A #{@service.name} Shipment", new_service_shipment_path(@service.id) %></i></b>

<br><br>

<b><i><%= link_to "Modify Service", edit_service_path(@service) %><br></i><b>

</div>