<h1> Sign Up </h1>
<h3> Start Tracking Today! </h3>
<br><br>

<%= form_for(@user) do |t|%>
    <%= t.label :email%>
    <%= t.text_field :email%>
    
    <br><br>
    
    <%= t.label :username%>
    <%= t.text_field :username%>
    
    <br><br>
    
    <%= t.label :password%>
    <%= t.password_field :password%>
    
    <br><br>

    <%= t.submit "Create Account"%>
<% end %>