<div class="new_user">

<h1> Sign Up </h1>
<i><h3> Start Tracking Today! </h3></i>

<%= render partial: 'layouts/errors', locals: {object: @user}  %>

<%= form_for(@user) do |t|%>
    <%= t.label :email%>
    <%= t.text_field :email%>
    
    <br><br>
    
    <%= t.label :username%>
    <%= t.text_field :username%>
    
    <br><br>
    
    <%= t.label :password%>
    <%= t.password_field :password%>
    
    <br><br><br>

    <%= t.submit "Create Account"%>
<% end %>

</div>