<h1> Welcome back, <%= @user.username %>! </h1>

<br><br>

<h2> Pending Shipments (<%= @shipments.pending_shipments.count %>) </h2> 
<% @shipments.each do |shipment| %>
    <% if shipment.user_id == session[:user_id] && shipment.status == "In-transit" %>
            <%= link_to shipment.customer, shipment_path(shipment) %><br><br>
    <% end %>
<% end %>

<br><br>

<h2> Delivered Shipments (<%= @shipments.delivered_shipments.count %>) </h2>
<% @shipments.each do |shipment| %>
    <% if shipment.user_id == session[:user_id] && shipment.status == "Delivered" %>
        <%= link_to shipment.customer, shipment_path(shipment) %><br><br>
    <% end %>
<% end %>


<br><br>