<div class="user_container">
<% if session[:user_id] == @user.id %>
    <h1> Welcome, <%= @user.username %>! </h1>
<% else %>
    <h1> <%= @user.username %> </h1>
<% end %>

<br><br>

<h2> Pending Shipments (<%= @user.shipments.pending_shipments.count %>) </h2> 
<% @shipments.each do |shipment| %>
    <ul>
    <% if shipment.user_id == session[:user_id] && shipment.status == "In-transit" %>
            <li><%= link_to "#{shipment.customer} (Shipped: #{shipment.ship_date})", shipment_path(shipment) %></li>
    <% end %>
    </ul>
<% end %>

<br><br>

<h2> Delivered Shipments (<%= @user.shipments.delivered_shipments.count %>) </h2>
<% @shipments.each do |shipment| %>
    <ul>
    <% if shipment.user_id == session[:user_id] && shipment.status == "Delivered" %>
        <li><%= link_to "#{shipment.customer} (Shipped: #{shipment.ship_date})", shipment_path(shipment) %></li>
    <% end %>
    </ul>
<% end %>


<br><br>
</div>