<div class="topnavbar">
    <h1 class="loglogoleft"> LOGISTIX </h1>
    <p>
    <%= link_to "Home", user_path(current_user) %> <b>|</b>
    <%= link_to "All Shipments", shipments_path %> <b>|</b>
    <%= link_to "New Shipment", new_shipment_path %> <b>|</b>
    <%= link_to "Service Management", services_path %> <b>|</b>
    <%= link_to "Log Out", logout_path, method: :delete %>
    </p>
</div>